@model OnlineStudentTeacherCollabAppp.Models.User

@{
    ViewBag.Title = "Index";
}
<style>
    .error {
        color: red;
    }
</style>





<h1 style="text-align:center; color:purple"> Wellcome   @Session["CurrentUsername"]</h1>


